<!-- Contenido del archivo base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Encabezado (head) de la página -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Mi Sitio{% endblock %}</title>
    <!-- Agrega cualquier otro recurso necesario, como estilos CSS o scripts JS -->
</head>
<body>
    <!-- Contenido principal de la página -->
    {% block content %}{% endblock %}

    <!-- Pie de página -->
    <footer>
        Tercera pre-entrega Santiago Sartor
    </footer>
</body>
</html>
